<div class="container">
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <img src="assets/images/angular.png" width="30" height="30" alt="" loading="lazy">
    <a class="navbar-brand" href="#" style="margin-left: 5px;"> Angular-Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--- ul collapse ---->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active" >Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
              <a class="dropdown-item" href="#" *ngFor="let category of categories">{{ category.name }}</a>
            </div>
        </li>

      </ul>
        <ul class="navbar-nav mr-right" *ngIf="!identity">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="active">Registrarse</a>
          </li>
        </ul>
        <!--- ul right boton de usuario ---->
        <ul class="navbar-nav mr-right" *ngIf="identity && identity.name">
          <li *ngIf="identity && identity.image" class="nav-item">
            <div class="imageCircle">
              <img *ngIf="identity.image" src="{{ url + 'user/avatar/' + identity.image }}" alt="Foto de Perfil"  id="imageProfileMenu" >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ identity.name + ' ' + identity.surname }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"[routerLink]="['/crear-post']">Crear Post</a>
              <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear Categoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Mi Perfil</a>
              <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
              <a class="dropdown-item"  [routerLink]="['/logout/1']">Salir</a>
            </div>
          </li>
        </ul>
    </div>
  </nav>
  <!-- cargando las rutas -->
  <router-outlet>

  </router-outlet>

  <footer >
    <hr/>
    <div class="navbar navbar-expand-lg navbar-dark bg-danger ">
      Blog de Gerardo Britez &copy; All Right Reserved
    </div>
    <hr/>
  </footer>

</div>


